page-task {
    .deadlineCard {
      align-content: center;
      padding-left: 15px;
      margin: 0%;
    }
    .cardfooterRow {
      padding: 0%;
      margin: 0%;
    }
    .cardfooterCol {
      padding: 0%;
      margin: 0%;
    }
  }
  page-task {

}
